<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My Portfolio</title>
    <link rel="stylesheet" href="../static/styles.css">
</head>
<body>
    <header>
        <h1>My Projects</h1>
    </header>
    <main>
        <section id="introduction">
            <p>
                The reasons I've been working on this website are the following:
                <ul>
                    <li>
                        <strong>To have an organized repository of my projects,</strong> both personal ones and those interesting from my degree. 
                        This way I can take a quick look at them whenever I want.
                    </li>
                    <li>
                        <strong>To show the skills and knowledge I've acquired during these years</strong> to possible future recruiters.
                        Sometimes, a CV is not enough to show all the interesting things and companies you've been working on. A portfolio website
                        is a great way to let the others know you a bit better in the technical field.
                    </li>
                    <li>
                        <strong>To show others students which has been my path.</strong> Between 2nd and 3rd year, where you have to choose a specialization,
                        I was a bit lost. I hope this website can help others to see which specific projects I've been working on and what I've been learning.
                    </li>
                    <li>
                        <strong>To have an excuse for building one more project.</strong> This website itself is another simple projects, which has been useful to me to learn
                        a bit more about web development, and refresh those skills I've had "stucked" lately due to my specialization in AI.
                    </li>
                    <li>
                        <strong>To have my own website online!</strong>
                    </li>
                        
                </ul>
            </p>
        </section>
    </main>
    <footer>
        <p>&copy; 2025 [Óscar Brizuela]. All rights reserved.</p>
    </footer>
</body>
</html>